/* *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.back-ground{
    display: flex;
}
.col-sm-6.address{
    color:white;
    font-weight: 200;
}
.social i{
    color:white;
}
.one h2{
    color: white;
}

.one h4{
    color: white;
    margin:20px 0px 20px 0px ;
     font-size:24px;
    font-weight: bold;  
}
.one p{
    color: white;
    margin-top: 180px;
    margin-right: 50px;
    margin-left: 30px; 
    font-size:19px;
}
.marge{
    margin-top: 9px;
}
.top-bar{
    height: 40px;
} */
