/* @media (min-width:417px) and (max-width:767px){
    .menu h3{
        max-width:400px ;
    }
    .menu ul{
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    }
    .menu ul li{
      width: 50%;
    }
    .bottom-text .one-text img{
          display: none;
    }    
    .bottom-text .two-text p{
        display: none;
    }
    .bottom-text .two-text img{

        display: none;
    }

}

@media (min-width:767px) and (max-width:981px){

.menu ul{
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    }
    .menu ul li{
      width: 33%;
    }
    .bottom-text .one-text img{
          display: none;
    }    
    .bottom-text .two-text p{
        display: none;
    }
    .bottom-text .two-text img{
       width: 150px;
    }
/* 

}
@media (min-width:981px) and (max-width:1169px){

.menu ul{
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    }
    .menu ul li{
      width: 33%;
    }
    .bottom-text .one-text img{
          display: none;
    }    
    .bottom-text .two-text p{
        display: none;
    }
    .bottom-text .two-text img{
       width: 250px;
      margin-top: -50px;
    }

  } */

/* @media (min-width:981px) and (max-width:1400px){

.menu ul{
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    }
    .menu ul li{
      width: 33%;
    }
    .bottom-text .one-text img{
          display: none;
    }    
    .bottom-text .two-text p{
        display: none;
    }
    .bottom-text .two-text img{
       width: 250px;
      margin-top: -50px;
    }


} */ 
