body.node-type-signup  {
    background-color: rgb(5, 54, 44);
}

#wrapper { text-align:center; padding:16px 0px; margin: auto; max-width: 384px;}  

.node-type-signup .mainwrap {
    height: 100%;
    overflow-y: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.node-type-signup .signup-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
}

.node-type-signup .mainwrap > :not(#block-system-main) {
    flex: none;
}

.node-type-signup .footer {
    position: absolute;
    width: 100%
}

.node-type-signup input:focus,
.node-type-signup select:focus,
.node-type-signup textarea:focus,
.node-type-signup button:focus {
    outline: none;
}

.node-type-signup .center {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 0;
}

.node-type-signup.logged-in .center {
    height: calc(100% - 25px);
    top: 25px;
}

.rf-logo {
    width: 160px;
    text-align:center;
    margin: 24px auto 9px;
}


.node-type-signup h2 {
    font-size: 24px;
    text-align:center;
}

.rf, .sf {
    text-align: left;
    margin: auto;
	width: 336px;
    font-weight: 400;
	-webkit-flex-basis: 336px;
    flex-basis: 336px;
    -webkit-border-radius: 2px;
    background-color: #00c823;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 24px;
    -webkit-box-shadow: 0 1px 4px 0 #f1f1f1;
    -moz-box-shadow: 0 1px 4px 0 #f1f1f1;
	box-shadow: 0 1px 4px 0 #f1f1f1;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.lang-ar .rf, .lang-ar .sf, .lang-ar .menu-bottom {
	text-align: right;
}
.lang-ar .overhead-lang .menu > li > a {
	padding: 3px 20px;
}

.lang-ar .group label {
	text-align: right;
    left: unset;
	right: 0px;
}

.lang-ar .sf-checkbox, .lang-ar .overhead-lang.overhead-lang-bottom, .lang-ar  #overhead-lang-header1 {
	float: right;
}
.lang-ar .lang-code-bottom {
	padding-right: 0px;
}
.lang-ar .lang-code-bottom:after {
	right: 35px;
}
.lang-ar .sf-submit {
	float: left;
}
.lang-ar .sf-checkbox .rf-smalltext {
	padding: 3px 0 0 0;
}

.lang-ar .checkbox:not(checked) + label:after, .lang-ar .checkbox:not(checked) + label:before {
	right: 0px;
	left: unset;
}

.lang-ar  .checkbox:not(checked) + label {
	padding: 6px 31px 0 0;
}
.rf-input-container, .sf-input-container {
    /*margin-top: 36px;*/
    position: relative;
}

.sf-title {
    font-size:20px; 
    padding-bottom: 20px; 
    font-weight: 500;
}
.rf-text {
    font-size: 14px;
}
.sf-perm-info {
    font-size: 14px;
    padding-top: 12px;
}
.sf-perm-info > img, .sf-perm-info > span {
    vertical-align: middle;
}

.rf-input-container > label, .sf-input-container > label {
    font-size: 14px;
    color: rgba(0,0,0,0.42);
    z-index: 2;
    pointer-events: none;
}

.rf-input-container.rf-country-container > label, .sf-input-container.sf-country-container > label  {
    margin-left: 2px;
    font-size: 12px;
}

.input:-webkit-autofill, .textarea:-webkit-autofill, .select:-webkit-autofill {
    background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
}

.rf-textinput, .sf-textinput {
	display:block;
	outline: none;
    width: 100%;
    padding: 8px 0;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #949494;
    border-color: rgba(0, 0, 0, .42);
    font-family: 'Roboto';
    background: transparent;
    font-weight: 400;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 2;
}
.rf-err .rf-textinput, .sf-err .sf-textinput {
    border-color: rgb(221,44,0);
}

.rf-input-container.rf-err label  {
    color: rgb(221,44,0);
}

.rf-vd-error, .sf-vd-error  {
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    color: #ff1744;
    padding: 0 2px;
	display: none;
}

.dd:focus, .rf-email-container .rf-textinput:focus, .sf-email-container .sf-textinput:focus, .rf-pw-container .rf-textinput:focus, .sf-pw-container .sf-textinput:focus, .rf-pw1-container .rf-textinput:focus, .rf-business-container .rf-textinput:focus {
    border-color: #689F38;
    -webkit-transition: border 0.25s ease-out;
    -moz-transition: border 0.25s ease-out;
    -ms-transition: border 0.25s ease-out;
    -o-transition: border 0.25s ease-out;
    transition: border 0.25s ease-out;    
}
.rf-email-container .rf-textinput:focus + label, .sf-email-container .sf-textinput:focus + label, .rf-pw-container .rf-textinput:focus + label, .sf-pw-container .sf-textinput:focus + label, .rf-pw1-container .rf-textinput:focus + label, .rf-business-container .rf-textinput:focus + label {
    bottom: 28px;
    font-size: 12px;
    color: #689F38;
}

.rf-email-container .rf-textinput.rf-notempty + label, .sf-email-container .sf-textinput.sf-notempty + label, .rf-pw-container .rf-textinput.rf-notempty + label, .sf-pw-container .sf-textinput.sf-notempty + label, .rf-pw1-container .rf-textinput.rf-notempty + label, .rf-business-container .rf-textinput.rf-notempty + label {
    bottom: 28px;
    font-size: 12px;
}

.rf-select-value .rf-select-icon, .sf-select-value .sf-select-icon {
    display: block;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
    text-align: end;
    width: 24px;
    margin: 0 4px;
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
    font-size: 1.2rem;
}
.sf-logo {
    margin-bottom: 24px;
    font-size: 0;
}

.lang-ar .sf-logo {
	text-align: right;
}

h1.sf-instructions, .sf-instructions {
    padding-bottom: 40px;
    font-size: 18px;
    font-weight:400;
    color: white;
}

.sf-instructions-pswd {
    padding-bottom: 12px;
    font-size: 18px;
}

.thankyou-form {
    padding-bottom: 16px;
    font-size: 20px;
	text-align: left;
	font-weight: 500;
}

signorgcenter.appstores {
	margin: 10px 0 0;
}

.thankyou-bt {
	min-width: 100%;
}

.rf-smalltext, .sf-smalltext {
    color: #757575;
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    text-align: center;
    padding: 0;
}

.rf-margintop, .sf-margintop {
    margin-top: 24px;
}

.rf-button, .sf-button {
    height: 36px;
    min-width: 100%;
    font-family: 'Roboto';
	text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 16px 10px 16px;
    background: #8bc34a;
    color: #fff;
    border-style: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: box-shadow .28s cubic-bezier(0.4,0.0,0.2,1);
    transition: box-shadow .28s cubic-bezier(0.4,0.0,0.2,1);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sf-button {
    background: #8BC34A;
}

#rf-email-error, #rf-pw-error, #rf-business-error, #sf-email-error, #sf-pw-error, {
	display: none;
}

.rf-button:focus, .sf-button:focus {
    -webkit-transition: box-shadow .28s cubic-bezier(0.4,0.0,0.2,1);
    transition: box-shadow .28s cubic-bezier(0.4,0.0,0.2,1);
    -webkit-transition: background .8s;
    transition: background .8s;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
	background: #689F38;
}

.rf-error, .sf-error {
    display: none;
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    color: #ff1744;
    padding: 0 2px;
}

.sf-error-pswd {
    display: none;
    font-size: 12px;
    color: #ff1744;
    padding: 0 2px;
}

.rf-error p, .sf-error p, .sf-error-pswd p  {
    color: red;
    padding: 0;
}


.disabled {
	background: #757575;
}

.sf-checkbox {
    text-align: left; 
    float: left; 
}
.sf-checkbox {
    margin-top: 6px
}
.sf-submit { 
    float: right;
	text-align: right;
}
.rf-already {
    text-align: left;
}
.sf-links {
    padding-top: 8px;
}
.sf-link {
    padding-top: 8px;
    font-size: 14px;
}


.borderRadiusBtm{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}


.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;border-bottom:0 none #c3c3c3; }
.borderRadiusBtm ul li:first-child{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0 ;border-bottom:1 solid #c3c3c3; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
	opacity: .5; /* standard: ff gt 1.5, opera, safari */
	-ms-filter:"alpha(opacity=50)"; /* ie 8 */
	filter:alpha(opacity=50); /* ie lt 7 */
	-khtml-opacity:.5; /* safari 1.x */
	-moz-opacity:.5; /* ff lt 1.5, netscape */
	color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2); box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);}
.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}
.borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
img.fnone{width: 16px;}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:50%; right:4px;}
.ddcommon .ddArrow:hover{background-position:0 100%;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{/*position:relative; vertical-align:middle; float:left*/}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/
.dd {
	display: block;
	outline: none;
	position: relative;
	width: 100% !important;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #949494;
	border-color: rgba(0, 0, 0, .42);
	font-family: 'Roboto';
	font-display: auto;
	background: transparent;
	font-weight: 400;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 2;
	cursor: pointer;
}
.dd .ddArrow{
	width:16px;
	height:16px; 
	margin-top:-8px; 
}
.dd .ddArrow::after {
    display: block;
    content: '\25BC';
    position: relative;
    speak: none;
    -webkit-transform: scaleY(.5) scaleX(0.9);
    transform: scaleY(.5) scaleX(0.9);
}
.dd .ddArrow:hover{background-position:0 100%;}
.dd .ddTitle .ddTitleText{padding:5px 20px 5px 5px;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding:3px 12px 0 0;}
.dd .ddChild{
	border:1px solid #c3c3c3; 
	background-color:#fff; 
	left:-1px;
	top: -105px !important;
	height: 256px !important;
}
.dd .ddChild li{
	padding:5px 24px; 
	background-color:#fff;
	height: 40px;
}
.dd .ddChild li .description{color:#666;}
.dd .ddChild li .ddlabel{
	color:#333;
	display: block;
	margin-left: 30px;	
}
.dd .ddChild li img{
	padding:0 8px 0 5px;
	float: left;
	display: block;
	margin-top: 3px;	
}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected span {color:#689F38;}

/* Thank you page */

.thankyou-mainblock {
    width: auto;
    max-width: 550px;
    margin: 40px auto;
    padding: 36px;
    font-size: 18px;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 -2px 6px 0 rgba(0, 0, 0, 0.2);
}
.thankyou-mainblock p {
    padding: 0;
}
.thankyou-mainblock .appstores {
    margin-left: auto;
    margin-right: auto;
}
.thankyou-icons {
    margin: 40px auto;
}
button.thankyou-redirect-btn {
    display: block;
    margin: 24px auto 0;
    border: none;
    padding: 0;
    background: #48ac4b;
    color: #fff;
    width: 348px;
    height: 48px;
    font-size: 14px;
    font-family: 'Roboto';
	font-display: auto;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}


/* form starting stylings ------------------------------- */
.group 			  { 
	position:relative;
	margin-bottom:48px; 
}
.sf.confirm-pass .group {
	position:unset;
}
.rf-business-container.group {
    margin-bottom: 32px;
}
.group input 				{
    font-family: 'Roboto', Arial, sans-serif;
	font-size:14px;
    font-weight: 400;
	padding:8px 0px;
	display:block;
    width:100%;
	border:none;
    border-bottom:1px solid white;
}
.group input:focus 		{ outline:none; }

/* LABEL ======================================= */
.group label 				 {
	
	color:white; 
	font-size:14px;
	position:absolute;
	pointer-events:none;
	left: 0;
	top: 8px;
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
	transition:0.2s ease all; 
}

.email-error-top {
	top: -16px !important;
}

/* active state */
.group input:valid ~ label, .group input:focus ~ label {
	top:-16px;
    font-size: 12px;
}
.active-label {
	top:-16px !important;
    font-size: 12px !important;
}

#sformorg .group input:focus ~ label, #rform .group input:focus ~ label {
    color: black;
}

/* error state */
.group.sf-err input:focus ~ label, .group.sf-err input:valid ~ label {
    color: black;
}

/* BOTTOM BARS ================================= */
.barinstring 	{ position:relative; display:block; width:100%; }
.barinstring:before, .barinstring:after 	{
	content:"";
	height:2px; 
	width:0;
	bottom:0; 
	position:absolute;
	
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

#sformorg .barinstring:before, #sformorg .barinstring:after, #rform .barinstring:before, #rform .barinstring:after {
    background:#689F38; 
}
.barinstring:before {
	left:50%;
}
.barinstring:after {
	right:50%; 
}
#sformorg .sf-err .barinstring:before, #sformorg .sf-err .barinstring:after,
#rform .rf-err .barinstring:before, #rform .rf-err .barinstring:after {
    background: black;
}

/* active state */
.group input:focus ~ .barinstring:before, .group input:focus ~ .barinstring:after, .group.sf-err .barinstring:before, .group.sf-err .barinstring:after, .group.rf-err .barinstring:before, .group.rf-err .barinstring:after {
	width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight, {
	position:absolute;
	height:60%; 
	width:100px; 
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;
}

/* active state */
.group input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#689F38; }
	to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#689F38; }
	to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#689F38; }
	to 	{ width:0; background:transparent; }
}

.sf-cancel {
    background: #ffffff;
    display: inline;
    border: none;
    font-family: 'Roboto';
	font-display: auto;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: rgba(33, 33, 33, 0.54);
}

.sf-cancel:hover {
    color: rgba(33, 33, 33, 0.87);
}

.sf-allow {
    background: #ffffff;
    display: inline;
    font-family: 'Roboto';
	font-display: auto;
    font-size: 14px;
    font-weight: 500;
    color: #689F38;
    border: none;
    cursor: pointer;
    margin: 0px 0px 0px 16px;
}

.sf-allow:hover {
    color: #3b8000;
}

.allowemail {
    margin: 24px;
}

.checkbox {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
}

.checkbox + label {
	cursor: pointer;
    font-size: 14px;
}

.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}
.checkbox:not(checked) + label {
	position: relative; 
	padding: 6px 0 0 31px; 
}

.checkbox:not(checked) + label:before {
	position: absolute;
	top: 3px;
	left: 0;
	width: 24px;
	height: 24px;
}

.checkbox:not(checked) + label:after {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 24px;
    height: 24px;
    transition: all .2s;
}

.checkbox:checked + label:before {
    content: url(/sites/all/themes/loyverse/images/icons/checkbox.svg);
    background-color: #fff;
    z-index: 100;
}

.checkbox:not(checked) + label:after {
    content: url(/sites/all/themes/loyverse/images/icons/uncheckbox.svg);
}

.red.checkbox:not(checked) + label:after {
    content: url(/sites/all/themes/loyverse/images/icons/redcheckbox.svg);
	background-color: #fff;
    z-index: 50;
}

.red.checkbox:(checked) + label:after {
    
	position: absolute;
	top: 3px;
	left: 0;
	width: 24px;
	height: 24px;
}


@media screen and (max-width: 383px) {
    #rf-check-empty, #rf-reffer-invalid .rf, .sf {
        width: 272px;
	}
}

.step1 {
    display: block;
}

.step2 {
    display: none;
}

/**
	* Set default style for invalid elements.
*/
:not(output):-moz-ui-invalid {
	box-shadow: none !important;
}

:not(output):-moz-ui-invalid:-moz-focusring {
	box-shadow: none !important;
}

output:-moz-ui-invalid {
	color: none !important;
}
input {
	-webkit-appearance: none;
	border-radius: 0;
}

#rf-check-empty, #rf-reffer-invalid {
	display: none;
	background-color: #ffcdd2;
    padding: 12px 24px 0 24px;
	text-align: left;
    font-size: 14px;
    color: #212121;
    font-weight: 400;
}

.lang-ar #rf-check-empty, .lang-ar #rf-reffer-invalid {
	text-align: right;
}

.reffername {
	margin: 24px -100px 29px -100px;
	font-size: 28px;
	font-weight: 300;
	display: none;
}
@media screen and (max-width: 750px) {
	.reffername {
		margin: 16px 16px 25px 16px;
	}
}
.other-account h1 {
	    padding-bottom: 24px;
}
.signiup .other-account div.rf-submit p a {
	color: #fff;
}

.other-account .rf-margintop p {
	text-align: center;
}
.other-account .rf-margintop p a {
	color: #0092d9;
	cursor: pointer;
}

.open-eye, .closed-eye {
	cursor: pointer;
	float: right;
	margin: 6px 8px -38px;
	opacity: 0.54;
}
.lang-ar .open-eye, .lang-ar .closed-eye {
	float: left;
}